    /* Body */
    
    h1
    {
        font-size: 24px;
        margin: 25px 5%;
    }
    
    h2
    {
        font-size: 22px;
    }

    h3
    {
        font-size: 20px;
    }

    p
    {
        font-size: 16px;
    }

    /* Header */

    header
    {
        flex-direction: column;
        margin: 0 0 30px;
        text-align: center;
    }

    header picture
    {
        margin-top: 5%;
    }

    header img
    {
        margin: auto;
        width: 35%;
    }

    nav
    {
        width: 100%;
    }

    header ul
    {
        width: auto;
        margin: 0;
        padding: 0;
        font-size: 17px;
    }

    header li
    {
        width: 50%;
        border-bottom: solid 4px #f2f2f2;
        margin: auto;
        padding: 15px 0;
    }

    header li:hover
    {
        border-top: none;
        border-bottom: solid 4px #0065fc;
    }
    
    /* Formulaire */

    #form
    {
        margin: 50px 5%;
    }

    button span
    {
        display: none;
    }

    .fa-search
    {
        display: initial;
    }

    .fa-map-marker-alt
    {
        font-size: 20px;
        padding: 13px 0 19px;
        width: 15%;
        border-radius: 15px 0 0 15px;
    }

    form p
    {
        margin: 30px 0;
        text-align: center;
    }

    input
    {
        width: 73%;
        font-size: 16px;
        padding: 15px 15px 15px;
    }

    button
    {
        border-radius: 15px;
        margin-left: -15px;
        font-size: 20px;
        padding: 12px 0 16px;
        width: 15%;
    }

    #filtres
    {
        gap: 15px;
        margin: 30px 0 20px;
    }

    #filtres h3
    {
        width: 100%;
    }

    #filtres div
    {
        border: solid #F2F2F2 2px;
        border-radius: 60px;
    }

    #filtres p, #filtres i
    {
        font-size: 16px;
    }

    #filtres i
    {
        margin: -4px;
        border-radius: 60px;
    }

    #filtres p
    {
        margin: 13px 15px;
    }

    .fa-money-bill-wave
    {
        padding: 16px 14px 17px;
    }

    .fa-child
    {
        padding: 16px 18px 17px;
    }

    .fa-heart

    {
        padding: 16px 16px 16px;
    }

    .fa-dog
    {
        padding: 16px 15px 16px;
    }

    #resultats
    {
        margin: 20px 0;
        gap: 20px;
    }

    #resultats p
    {
        font-size: 16px;
    }

    #resultats i
    {
        border: solid #F2F2F2 2px;
        border-radius: 15px;
        padding: 5px 10px;
    }

    /* Main */

    main
    {
        flex-direction: column-reverse;
        margin: 0;
    }

    main a
    {
        padding: 5px;
    }

    #hebergements, #populaires, #activites
    {
        padding: 5%;
        margin: auto;
    }

    #populaires
    {
        width: 90%;
        border-radius: 0;
    }

    #logo
    {
        width: 100%;
    }

    #populaires a
    {
        width: 100%;
    }

    .pop
    {
        height: 150px;
    }

    #populaires img
    {
        height: 100%;
    }

    #hebergements
    {
        background-color: white;
    }

    #hebergements .lien
    {
        height: auto;
    }

    #hebergements picture
    {
        height: 300px;
    }
    
    #hebergements img
    {
        height: 150px;
    }

    #hebergements article, #populaires article
    {
        width: 100%;
    }

    #plus
    {
        font-size: 16px;
        margin: 5% 0 0;
    }

    #logo
    {
        margin: 0 0 5%;
    }
    
    main p
    {
        font-size: 16px;
        margin: 10px 0;
    }
    
    .fa-star
    {
        font-size: 13px;
    }

    /* Aside */

    #activites
    {
        margin: 0;
    }

    .acti
    {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .acti a
    {
        margin: 2% 0;
    }

    .acti img
    {
        height: 150px;
    }

    .card-1, .card-2, .card-3, .vites-card-1-4
    {
        order: 0;
    }

    .vites-img-1-4, .vites-img-2, .vites-img-3, .vites-img-5, .vites-img-6
    {
        height: auto;
    }

    .vites-card-1-4, .vites-card-2, .vites-card-3, .vites-card-5, .vites-card-6
    {
        height: auto;
        width: 100%;
        margin: auto;
    }

    /* Footer */

    footer
    {
        display: block;
        padding: 5%;
        margin-top: 5%;
    }

    footer ul
    {
        font-size: 20px;
    }

    .fin
    {
        width: auto;
        margin: 5% 0 10%;
    }

    footer h3
    {
        font-size: 22px;
        margin: 0 0 5%;
    }