main
{
    flex-wrap: wrap;
    margin: 0 5%;
}

#hebergements, #populaires
{
    width: auto;
    margin-bottom: 20px;
    justify-content: space-between;
}

#hebergements article, #populaires article
{
    width: 47%;
    margin: 2% 0;
    height: auto;
}

#hebergements img, #populaires img
{
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
}

.pop
{
    height: 150px;
}

.acti
{
    width: 47%;
    margin-bottom: 50px;
}

.card-1
{
    order: 1;
}

.card-2
{
    order: 2;
}

.card-3
{
    order: 4;
}

.card-4
{
    order: 3;
}

h3
{
    font-size: 16px;
}