h1
{
    color: red;
}

main
{
    flex-wrap: wrap;
    margin: 0 5%;
}

section
{
    width: auto !important;
    justify-content: space-between !important;
    margin-bottom: 20px;
}

#hebergements article, #populaires article
{
    width: 45%;
    margin: 1% 0;
    height: auto;
}

article img
{
    width: 100% !important;
    height: 150px !important;
    object-fit: cover !important;
}

h3
{
    font-size: 16px;
}